.my-notes-container {
  height: 25%;
}

.text-form {
  display: flex;
  flex-direction: column;
  background-color: #7091e6;
  color: white;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}

.my-notes-header {
  margin-bottom: 10px;
}

textarea {
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  font-size: 15px;
  background-color: #7091e6;
  color: white;
  border-radius: 10px;
  border: none;
}

textarea::placeholder {
  color: rgb(208, 218, 227);
}

.submit-button,
.edit-button {
  border: none;
  background-color: #7091e6;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}

.submit-button:hover,
.edit-button:hover {
  cursor: pointer;
}