.book-variant {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.book-variant-cover-container {
  position: relative;
}

.book-variant-cover-container:hover {
  cursor: pointer;
}

.book-variant-cover {
  width: 250px;
  height: auto;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.book-variant-cover-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
}

.book-variant-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #7091e6;
  font-size: 18px;
  font-weight: 600;
}

.book-variant-heart {
  height: 30px;
  transition-duration: 200ms;
  margin-right: 15px;
  filter: invert(30%) sepia(17%) saturate(4983%) hue-rotate(332deg) brightness(128%) contrast(94%);
  filter: invert(56%) sepia(39%) saturate(4295%) hue-rotate(325deg) brightness(108%) contrast(88%);
}

.book-variant-heart:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .book-variant-cover {
    width: 200px
  }
}