.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  height: 75vh;
  background: #EDE8F5;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 10px;
  z-index: 2;
}

.modal-header {
  font-size: 50px;
  color: #8697C4;
}

.modal-cover {
  height: 90%;
  width: auto;
}

.modal-synopsis {
  width: 90%;
  border: 1px black solid;
  padding: 10px;
}

.modal-details-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.modal-details {
  margin-left: 2vw;
  height: 100%;
}

.modal p {
  font-size: 20px;
}

.close-button-container {
  height: 100%
}

.close-modal {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: none;
  background-color: #EDE8F5;
  border-radius: 50%;
  transition-duration: 200ms;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #8697C4;
}

.star {
  width: 40px;
  height: auto;
  filter: invert(98%) sepia(93%) saturate(6340%) hue-rotate(325deg) brightness(100%) contrast(87%);
}

.star:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {

  .modal-cover {
    height: 40vh;
  }

}

@media (max-width: 850px) {

  .modal-details {
    font-size: 18px;
  }

  .modal-cover {
    height: 30vh;
  }
}

@media (max-width: 600px) {

  .modal-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-header {
    font-size: 25px
  }
}