.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  width: 70%;
  height: 100%;
  background: rgb(152, 148, 148);
  border: 4px solid white;
  border-radius: 12px;
  padding: 10px;
}

.modal-cover {
  height: 200px;
  width: auto;
}