.banner {
  position: relative;
  width: 100%;
  margin-bottom: 1vh;
  text-align: center;
}

.banner-image {
  max-width: 100%;
}

.bookish {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 180px;
  border: 4px solid white;
}

.overlay {
  top: 25%;
  left: 60%;
  transform: translate(-50%, 6%);
  border: none;
  background-color: rgb(38, 36, 36);
  opacity: 0.6;
  height: 215px;
  width: 795px
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

}

.selection {
  font-size: 24px;
  border-radius: 10px;
  border: none;
  width: 25%;
  height: 5vh;
  background-color: #ADBBDA;
  color: white;
}

.selection:hover {
  cursor: pointer;
}

.genre {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
  justify-content: baseline;
  align-items: center;
}

.genre-name {
  font-size: 90px;
  padding: 5px;
  margin: 0px;
  color: #8697C4;
  border-bottom: 2px solid #8697C4
}

.loading-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1
}

.loading-image {
  animation: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 300px;
  z-index: 2
}

@keyframes loading {
  0% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1.4)
  }
  100% {
    transform: scale(1.1)
  }
}

@media (max-width: 1100px) {
  .bookish {
    font-size: 100px;
  }

  .overlay {
    height: 120px;
    width: 450px
  }
}

@media (max-width: 600px) {
  .bookish {
    font-size: 55px;
  }

  .genre-name {
    font-size: 40px;
  }
  
  .overlay {
    height: 65px;
    width: 255px
  }
}