.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
  margin-bottom: 8vh;
  width: 90%;
  height: 10%;
  border: none;
  border-radius: 15px;
  background-color: #ADBBDA;
}

.my-library-button,
.home-button,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: auto;
  font-size: 28px;
  /* font-family: 'Playfair Display SC', serif; */
  font-weight: 600;
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  transition-duration: 200ms;
}

.my-library-button:hover,
.home-button:hover,
.search:hover {
  color: #3D52A0;
  border-top: 2px solid #3D52A0;
  border-bottom: 2px solid #3D52A0;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: rgb(153, 147, 147)
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}