.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vh;
  padding-right: 20px;
  width: 100%;
  height: 10%;
  border-bottom: 2px solid black;
  margin-top: 0;
}

.my-library-button,
.home-button,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: auto;
  font-size: 20px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
}

.my-library-button:hover,
.home-button:hover,
.search:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: rgb(153, 147, 147)
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}