.search-banner {
  width: 100%
}

.search-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 10px;
  align-items: baseline;
}

.search-message {
  font-size: 25px;
  width: 70%;
  text-align: end;
  padding-right: 20px;
}

.search-bar-container {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%
}

.search-bar {
  width: 75%;
}

.search-by-date {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  width: 40%;
  padding: 2px 10px;
  background-color: #159895;
  color: white;
}

.search-submit {
  font-size: 24px;
  border-radius: 10px;
  border: none;
  width: 20%;
  padding: 0 10px;
  background-color: #159895;
  color: white;
  margin-left: 20px
}

.search-submit:hover,
.search-by-date:hover {
  cursor: pointer;
}

.year {
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 40px
}

@media (max-width: 700px) {
  .search-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%
  }

  .search-message {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
  }

  .year-select {
    width: 40%;
    font-size: 12px
  }
  
  .search-submit {
    font-size: 14px;
  }
}