.my-library {
  font-family: 'Nanum Gothic', sans-serif;
}

.my-library-banner {
  width: 100%
}

.my-library-header {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 80px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.no-books-warning {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(218, 70, 70)
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  column-gap: 2vw;
  row-gap: 2vw;
  padding: 10px;
  align-items: baseline;
  text-align: center;
}

@media (max-width: 1100px) {
  .no-books-warning {
    font-size: 30px;
  }

  .my-library-header {
    font-size: 70px;
  }
}

@media (max-width: 750px) {
  .no-books-warning {
    font-size: 20px;
  }

  .my-library-header {
    font-size: 55px;
  }
}

@media (max-width: 500px) {
  .no-books-warning {
    font-size: 16px;
  }
}