.book {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.book-cover {
  width: 250px;
  height: auto;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.book-cover:hover {
  border-top: 5px solid rgb(238, 200, 62);
  border-bottom: 5px solid rgb(238, 200, 62);
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Playfair Display SC', serif;
  font-size: 14px;
}

.heart {
  height: 30px;
  fill: white;
  transition-duration: 200ms;
  margin-right: 15px
}

.heart:hover {
  transform: scale(1.4);
  cursor: pointer;
}

@media (max-width: 600px) {
  .book-cover {
    width: 200px
  }
}